$media-xsmall: 500px; /* max widths */
$media-mobile: 767px; /* max widths */
$media-tablet: 1024px; /* max widths */
$media-tablet-xl: 1200px; /* max widths */
$media-desktop: 1440px; /* max widths */
$media-desktop-xl: 1680px;

$outer-wrapper: 1920px;
$inner-wrapper: 1440px;
$content-wrapper: 1200px;

$font-headlines: 'Cairo', sans-serif;
$font-paragraphs: 'Roboto', sans-serif;

$color-text: #000000;
$color-brand: #366ECC;
$color-brand-hover: #0C429B;
$color-headlines: #010B1B;
$color-white: #ffffff;

$bg-neutral: #F6F6F6;